﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li class="active">@Html.ActionLink("QUẢN LÍ NGƯỜI DÙNG", "Index", "NGUOI_DUNG")</li>
    <li class="active">@Html.ActionLink("PHÂN QUYỀN NGƯỜI DÙNG", "Index", "PhanQuyen")</li>
    <li class="active">@Html.ActionLink("QUẢN LÍ SẢN PHẨM", "Index", "QLSanPham")</li>
    <li class="active">@Html.ActionLink("QUẢN LÍ HÓA DƠN", "Index", "QLHoaDon")</li>
    <li class="active">@Html.ActionLink("QUẢN LÍ BÀI VIẾT", "Index", "BAI_VIET")</li>
    <li class="active">@Html.ActionLink("SẢN PHẨM BÁN TỐT NHẤT", "BAN_NHIEU", "QLSanPham")</li>
</ul>
