﻿@model PetaPoco.Page<MyConnect.CHI_TIET>

@{
    ViewBag.Title = "BAN_NHIEU";
}


<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <h2 class="style top">SẢN PHẨM</h2>
            <!-- start grids_of_3 -->
            <div class="grids_of_3">
                <div class="grid1_of_3">
                    @foreach (var item in Model.Items)
                    {
				    <div class="img-view">
					    <div class="img-view-bg">
                            <img src="/images/@Html.DisplayFor(modelItem => item.HINH)" alt=""/>
                        </div>
					    <h3>@Html.DisplayFor(modelItem => item.TEN_SP)</h3>
					    <div class="price">
						    <h4>$@Html.DisplayFor(modelItem => item.GIA)<span>LƯỢT BÁN: @Html.DisplayFor(modelItem => item.LUOT_MUA) </span></h4>
					    </div>
					    <span class="b_btm"></span>
		            </div>
                    }
                </div>

                <div class="clear"></div>
            </div>
            <!-- end grids_of_3 -->
        
            <div class="clear"></div>
        </div>
    </div>
</div>
