﻿@model MyConnect.CHI_TIET

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CHI_TIET</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.HINH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ActionLink("Upload", "UpLoad")

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MA_SP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MA_SP)
                @Html.ValidationMessageFor(model => model.MA_SP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MA_LOAI, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MA_LOAI)
                @Html.ValidationMessageFor(model => model.MA_LOAI)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIA)
                @Html.ValidationMessageFor(model => model.GIA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LUOT_XEM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LUOT_XEM)
                @Html.ValidationMessageFor(model => model.LUOT_XEM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_SP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_SP)
                @Html.ValidationMessageFor(model => model.TEN_SP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LUOT_MUA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LUOT_MUA)
                @Html.ValidationMessageFor(model => model.LUOT_MUA)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MO_TA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MO_TA)
                @Html.ValidationMessageFor(model => model.MO_TA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
