﻿@model IEnumerable<MyConnect.CHI_TIET>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="bang">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.MA_SP)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.MA_LOAI)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.GIA)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.LUOT_XEM)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TEN_SP)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.LUOT_MUA)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.HINH)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.MO_TA)
        </td>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MA_SP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MA_LOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUOT_XEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_SP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUOT_MUA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MO_TA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.MA_SP}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MA_SP })
        </td>
    </tr>
}

</table>
