﻿
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
@using (Html.BeginForm("Upload", "QLSanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <input type="file" name="File" id="File"/>
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
