﻿@model MyConnect.CHI_TIET
@{
    ViewBag.Title = "Details";
}

<div class="main_bg">
<div class="wrap" style="width:90%;margin-left:5%;">	
	<div class="main">
	<!-- start content -->
	<div class="single">
			<!-- start span1_of_1 -->
			<div class="left_content">
			<div class="span1_of_1">
				<!-- start product_slider -->
				<div class="product-view">				     
                    <img src="/images/@Html.DisplayFor(model => model.HINH)" alt="Women Shorts" title="Women Shorts" />
				</div>
				<!-- end product_slider -->
			</div>
			<!-- start span1_of_1 -->
			<div class="span1_of_1_des">
                    <div class="desc1">
                        <h3>
                            @Html.DisplayFor(model => model.TEN_SP)
                        </h3>
                        <h3>
                            LƯỢT XEM: @Html.DisplayFor(model => model.LUOT_XEM)
                        </h3>
                        <h5>
                            GIÁ: $ @Html.DisplayFor(model => model.GIA)
                        </h5>
                        <div class="available">
                            <h4>MÔ TẢ : @Html.DisplayFor(model => model.MO_TA)</h4>
                          
                        </div>
                        <div class="btn_form">
                            <form action="@Url.Action("AddCart", "Cart", new{id = Model.MA_SP})">
                                <input type="submit" value="add to cart" title="" />
                            </form>
                        </div>
                   
                         
                                <div class="clear"></div>
 </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
    
				</div>	<!-- end sidebar -->
          	    <div class="clear"></div>
	       </div>	
	<!-- end content -->
        <div class="clear"></div>
	</div>
 
         @Html.Action("LIEN_QUAN", "SAN_PHAM", new {id = Model.MA_LOAI})
        <div class="clear"></div>
        <div>@Html.Action("Details", "BAI_VIET") </div>
        <div>@Html.Action("Create", "BAI_VIET") </div>
        

       
</div>
</div>

@section Scripts {

    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
}


