﻿@model IEnumerable<MyConnect.LOAI>

@{
    Layout = null;
 }
<div class="left_sidebar">
			<div class="sellers">
				<h4>DANH SÁCH LOẠI</h4>
				<div class="single-nav">
			        <ul>
                        @foreach (var item in Model)
                        {
                            <li><a href="@Url.Action("XemLoai", "SAN_PHAM", new {id = item.MA_LOAI })">@Html.DisplayFor(modelItem => item.TEN)</a></li>
                        }		                    
			        </ul>
			        </div>
			</div>
		</div>