﻿@model IEnumerable<MyConnect.CHI_TIET>

@{
    ViewBag.Title = "Index";
}
    <p class="left">
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Trang Chủ</a></li>
                    <li class="active">Tìm Kiếm</li>
                </ol>
            </div>
            <div class="cart_info">
                <h2>Tìm kiếm Theo:</h2>
                @using (Html.BeginForm("result", "Search", FormMethod.Post))
                {
                    @Html.DisplayName("Name: ");
                    @Html.TextBox("searchname", "", htmlAttributes: new { @placeholder = "..." })
                    @Html.DisplayName("Giá từ: ");
                    @Html.TextBox("pricetu", "", htmlAttributes: new { @placeholder = "..." })
                    @Html.DisplayName("Giá đến: ");
                    @Html.TextBox("priceden", "", htmlAttributes: new { @placeholder = "..." })
                    @Html.DisplayName("Màu: ");
                    @Html.TextBox("searchcolor", "", htmlAttributes: new { @placeholder = "..." })
                    @Html.DisplayName("Loại Sản Phẩm: ");
                    @Html.TextBox("searchcategory", "", htmlAttributes: new { @placeholder = "..." })

                    <p>
                        <input class="btn btn-default add-to-cart" type="submit" value="Tìm Kiếm" />
                    </p>
                }
            </div>
        </div>
    </section>

