﻿@model IEnumerable<MyConnect.AspNetUser>

@{
    ViewBag.Title = "Index";
}


<table class="bang">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.UserName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Discriminator)
        </td>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discriminator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
             
        </td>
    </tr>
}

</table>
