﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>    
    </ul>
        if (User.IsInRole("Admin"))
        {
            <ul>
                <li>
                    @Html.ActionLink("QUẢN LÍ", "Index", "QUAN_LI")
                </li>
            </ul>
        }
    }
    <ul>
           <li>@Html.ActionLink("Cập nhật tài khoản", "CapNhat", "NGUOI_DUNG", routeValues: null, htmlAttributes: new { id = User.Identity.GetUserName() })</li>
     </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "NGUOI_DUNG", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "DangNhap", "NGUOI_DUNG", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
