﻿
<!DOCTYPE html>
<html>
<head>
    <title>Free Aditii Website Template | Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <!-- start slider -->
    <link href="~/Content/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/modernizr.custom.28468.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cslider.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#da-slider').cslider();
        });
    </script>
    <!-- Owl Carousel Assets -->
    <link href="~/Content/owl.carousel.css" rel="stylesheet">
    <!-- Owl Carousel Assets -->
    <!-- Prettify -->
    <script src="~/Scripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({
                items: 4,
                lazyLoad: true,
                autoPlay: true,
                navigation: true,
                navigationText: ["", ""],
                rewindNav: false,
                scrollPerPage: false,
                pagination: false,
                paginationNumbers: false,
            });

        });
    </script>
    <!-- //Owl Carousel Assets -->
    <!-- start top_js_button -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>
</head>
<body>
    <!-- start header -->
    <div class="header_bg">
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="" /> </a>
                </div>
                <div class="h_icon">
                    <ul class="icon1 sub-icon1">
                        <li>
                            <a class="active-icon c1" href="@Url.Action("Index","Cart")"></a>
                            <ul class="sub-icon1 list">
                                <li><h3>shopping cart empty</h3><a href=""></a></li>
                                <li><p>if items in your wishlit are missing, <a href="contact.html">contact us</a> to view them</p></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="h_search">
                    <form action="@Url.Action("TIM_KIEM","Home")">
                        <input type="text" value="" name="tukhoa">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="header_btm">
        <div class="wrap">
            <div class="header_sub">
                <div class="h_menu">
                    <ul>
                        <li class="active">@Html.ActionLink("Trang Chủ", "Index", "Home")</li> |
                        <li class="active">@Html.ActionLink("Sản Phẩm", "Index", "SAN_PHAM")</li> |
                        <li>@Html.ActionLink("DỊCH VỤ", "Index", "DICH_VU")</li> |
                        <li>@Html.ActionLink("THÔNG TIN", "Index" , "THONG_TIN" )</li> |
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="top-nav">
                    <nav class="nav">
                        <a href="#" id="w3-menu-trigger"> </a>
                        <ul class="nav-list" style="">
                            <li class="nav-item"><a class="active" href="index.html">Home</a></li>
                            <li class="nav-item"><a href="danhsach.html">List Sản Phẩm</a></li>
                            <li class="nav-item"><a href="service.html">Services</a></li>
                            <li class="nav-item"><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="search_box">
                        <form>
                            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                        </form>
                    </div>
                    <div class="clear"> </div>
                    <script src="js/responsive.menu.js"></script>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- start slider -->
    @RenderSection("featured", required: false)
    @RenderSection("scripts", required: false)
    @RenderBody()

    <!-- start footer -->
    <div class="footer_bg1">
        <div class="wrap">
            <div class="footer">
                <!-- scroll_top_btn -->
                <script type="text/javascript">
                    $(document).ready(function () {

                        var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear'
                        };


                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
                </script>
                <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
                <!--end scroll_top_btn -->
                <div class="copy">
                    <p class="link">Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://myxem.com">MYXEM</a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>
