﻿@model MyConnect.BAI_VIET

@{
    Layout = null;
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BAI_VIET</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TIEU_DE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TIEU_DE)
            @Html.ValidationMessageFor(model => model.TIEU_DE)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NOI_DUNG)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NOI_DUNG, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.NOI_DUNG)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("linkText", "Index", "SAN_PHAM")
</div>
@section Scripts {
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
}


