﻿@model PetaPoco.Page<MyConnect.BAI_VIET>

@{
    Layout = null;
}


<p style="text-align:center;">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {


        <a href="/BAI_VIET/Details?page=@i" style="color:#777">@i</a>
    }
</p>

    @foreach (var item in Model.Items)
{
    <div class="comment-div" style="border-radius: 5px; border: 1px solid #114987; padding: 10px; margin-top: 10px; margin-bottom: 10px; color: #fff; background-color: #188D76;width:70%">
        <div>TÁC GIẢ: @Html.DisplayFor(modelItem => item.TAC_GIA)</div>
        <div>TIÊU ĐỀ: @Html.DisplayFor(modelItem => item.TIEU_DE)</div>
        <div>@Html.Raw(item.NOI_DUNG)</div>
    </div>
}


