﻿@model IEnumerable<MyConnect.BAI_VIET>

@{
    ViewBag.Title = "Index";
}


<table class="bang">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.MA_BAI)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TIEU_DE)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TAC_GIA)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.THOI_GIAN)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.NOI_DUNG)
        </td>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MA_BAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIEU_DE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAC_GIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THOI_GIAN)
        </td>
        <td>
            @Html.Raw(item.NOI_DUNG)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.MA_BAI })
        </td>
    </tr>
}

</table>

