﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>welcome to aditii</h2>
            <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
            <a href="@Url.Action("Index","SAN_PHAM")" class="da-link">shop now</a>
            <div class="da-img"><img src="images/slider1.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
            <h2>Easy management</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <a href="@Url.Action("Index","SAN_PHAM")" class="da-link">shop now</a>
            <div class="da-img"><img src="images/slider2.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
            <h2>Revolution</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <a href="@Url.Action("Index","SAN_PHAM")" class="da-link">shop now</a>
            <div class="da-img"><img src="images/slider3.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
            <h2>Quality Control</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <a href="details.html" class="da-link">shop now</a>
            <div class="da-img"><img src="images/slider4.png" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
    </div>
    <!----start-cursual---->

    <!-- start main1 -->

    <!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start grids_of_3 -->
 
                <!-- end grids_of_3 -->
            </div>
        </div>
    </div>
}

