﻿
@{
    ViewBag.Title = "Index";
}

<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start service -->
            <div class="service">
                <div class="ser-main">
                    <h4>Our Services</h4>
                    <p class="para">Cung cấp giao hàng miễn phí trong bán kính 5km</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>		

