﻿@model IEnumerable<MyConnect.Cart>

@{
    ViewBag.Title = "Index";
}

<table class="bang">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SanPham)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.NguoiMua)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.NGAY)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.SDT)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.DIA_CHI)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.SoLuong)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Tien)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TINH_TRANG)
        </td>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA_CHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINH_TRANG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
