﻿@model MyConnect.NGUOI_DUNG

@{
    ViewBag.Title = "CapNhat";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>CapNhat</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NGUOI_DUNG</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.TEN_DN)
        @Html.HiddenFor(model => model.PASS)

        <div class="form-group">
            @Html.LabelFor(model => model.TEN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN)
                @Html.ValidationMessageFor(model => model.TEN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAM_SINH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAM_SINH)
                @Html.ValidationMessageFor(model => model.NAM_SINH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT)
                @Html.ValidationMessageFor(model => model.SDT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIA_CHI, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIA_CHI)
                @Html.ValidationMessageFor(model => model.DIA_CHI)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
