﻿@model MyConnect.NGUOI_DUNG

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NGUOI_DUNG</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEN)
            @Html.ValidationMessageFor(model => model.TEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEN_DN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEN_DN)
            @Html.ValidationMessageFor(model => model.TEN_DN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PASS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PASS)
            @Html.ValidationMessageFor(model => model.PASS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NAM_SINH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAM_SINH)
            @Html.ValidationMessageFor(model => model.NAM_SINH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SDT)
            @Html.ValidationMessageFor(model => model.SDT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DIA_CHI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIA_CHI)
            @Html.ValidationMessageFor(model => model.DIA_CHI)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
