﻿@model IEnumerable<MyConnect.NGUOI_DUNG>

@{
    ViewBag.Title = "Index";
}

<table class="bang">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.TEN)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TEN_DN)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.PASS)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.NAM_SINH)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.SDT)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.DIA_CHI)
        </td>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_DN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAM_SINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA_CHI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
        </td>
    </tr>
}

</table>
